@if (profile) {
  <div class="bg-dark grid grid-cols-4 gap-8 border border-light py-8 px-6">
    <div class="flex items-center gap-5">
      <div class="w-17.5 h-17.5 rounded-full overflow-hidden">
        <img [src]="profile.avatarUrl | imgUrl" alt="avatar" />
      </div>
      <div class="flex justify-center flex-col gap-1">
        <strong class="title">{{ profile.firstName }} {{ profile.lastName }}</strong>
        <span class="subtitle">{{ profile.username }}</span>
      </div>
    </div>
    <div>{{ profile.description }}</div>
    @if (profile.stack.length) {
      <ul class="flex flex-wrap items-center content-center gap-2">
        @for (item of profile.stack; track item) {
          <li class="py-1 px-2 border border-light text-xs font-bold rounded-sm">{{ item }}</li>
        }
      </ul>
    }
    <div class="flex items-center justify-center gap-3">
      <button class="btn">Subscribe</button>
    </div>
  </div>
}
