@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-SemiBold.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-LightItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-Light.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-Medium.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-ExtraBold.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-MediumItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-ExtraLight.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-LightItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-Thin.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-Bold.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-ThinItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-BoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-Light.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-ThinItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-Medium.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmononl';
  src:
    url('/fonts/JetBrainsMonoNL-Thin.woff2') format('woff2'),
    url('/fonts/JetBrainsMonoNL-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src:
    url('/fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
